.home-main-slogan_container {
    height: 90vh;
}

.home-slogan-1_container {
    height: 36.53%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.home-slogan-2_container {
    height: 63.47%;

    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
}
.much {
    width: 100%;
    height: 100vh;
}