.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_background {

    position: absolute;
    left: -27.77%;
    top: -33.69%;
    background-color: #39536A;
    height: 105.957%;
    width: 75.347%;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25))
}

.login-form_background {

    width: 40%;
    height: 70%;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25))
}

.login_form {
    height: 26.65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25.66%;
}

.login_title {
    height: 36.55%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.login_input {
    background-color: #d9d9d9;
    width: 80%;
    height: 37.17%;
    border-radius: 20px;
    border: none;
    padding-left: 6%;
}

.pw_msg {
    height: 3.22%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.login-button_container {
    height: 13.54%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.login_button {
    background-color: #39536A;
    width: 40%;
    height: 74.22%;
    border: none;
    border-radius: 20px;
}

.log-in_msg {
    height: 20%;
    display:flex;
    align-items: center;
}